// THREESIXTY
// ++++++++++

// fullscreen container - no grid required
.threesixty {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 0 50px;
    
    // vr page container
    iframe { 
        border: 0;
        min-height: 300px;
    }
}