// VARIABLES
// +++++++++

$primary-font-b: "Source-Sans-Pro-SemiBold", "Helvetica Nueue", Helvetica, Arial, sans-serif;
$primary-font-r: "Source-Sans-Pro-Reg", "Helvetica Nueue", Helvetica, Arial, sans-serif;
 
$secondary-font-b: "Brandon-Grotesque-Bold", "Helvetica Nueue", Helvetica, Arial, sans-serif;
$secondary-font-r: "Brandon-Grotesque-Reg", "Helvetica Nueue", Helvetica, Arial, sans-serif;

$white: #FFF; // white
$primary-color: #101D49; // midnight blue
$secondary-color: #1FCFCB; // robins egg blue
$tertiary-color: #EBF3F5; // azure blue
$accent-color: #FBE400; // yellow